.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__entry,
.form__textarea,
.form__button {
  outline: none;
  overflow: hidden;
  border: none;
  border-radius: 5px;
  font-family: "Inter";
  padding: 10px;
}

/* .form__entry {} */

.form__textarea {
  resize: none;
  height: fit-content;
}

.form__button {
  background: var(--primary);
  border-radius: 10px;
  color: var(--on-primary);
  cursor: pointer;
}

.form__button:hover {
  background: var(--primary-variant);
  color: var(--on-primary-variant);
}