.reply-to-container {
  display: flex;
  justify-content: space-between;
  margin-right: 47px;
}

.button-close {
  color: var(--primary);
  width: 16px;
}

.reply-to {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.75rem;
  margin: 5px 0;
}

.reply-to__username {
  color: var(--primary);
}

.message-form {
  flex-direction: row;
}

.message-form__entry {
  flex: 1 1 auto;
}

.button-send,
.button-send:hover {
  padding: 0;
  height: fit-content;
  background: transparent;
}

.button-send__logo {
  color: var(--primary);
  transform: rotate(90deg);
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.button-send__logo:hover {
  color: var(--primary-variant)
}