@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}
}

@font-face {
	font-family: 'Nunito-Sans';
	font-style: normal;
	font-weight: normal;
	font-display: fallback;
	src: url(../public/fonts/NunitoSans-Regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Nunito-Sans';
	font-style: italic;
	font-weight: normal;
	font-display: fallback;
	src: url(../public/fonts/NunitoSans-Italic.woff2) format('woff2');
}

@font-face {
	font-family: 'Nunito-Sans';
	font-style: normal;
	font-weight: bold;
	font-display: fallback;
	src: url(../public/fonts/NunitoSans-Bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Nunito-Sans';
	font-style: italic;
	font-weight: bold;
	font-display: fallback;
	src: url(../public/fonts/NunitoSans-BoldItalic.woff2) format('woff2');
}
