@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import url(./css/adaptive.css);
@import url(./css/button.css);
@import url(./css/colorSchemes.css);
@import url(./css/fab.css);
@import url(./css/form.css);
@import url(./css/message.css);
@import url(./css/messageForm.css);
@import url(./css/popup.css);
@import url(./css/section.css);
@import url(./css/spinner.css);



* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  transition: background 0.3s;
  background: var(--background);
  color: var(--on-background);
  font-family: Inter;
}

main,
header,
footer {
  padding: 0 calc((100% - var(--page-width))/2);
  transition: background 0.3s;
}

header {
  background-color: var(--surface);
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: var(--shadow);
}

nav {
  font-size: 1rem;
  font-family: Inter;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  display: flex;
  flex: 1 1 auto;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: var(--surface);
  padding-top: 64px;
  padding-bottom: 32px;
  font-size: 0.75rem;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 25px 0;
}

.part:last-child {
  margin-bottom: 64px;
}

.img-genshin {
  width: 270px;
  border-radius: 16px;
  margin: 0 25px 25px 0;
}

.buttons-wrapper {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: var(--button-columns);
}

.part-messages {
  position: relative;
  min-height: 250px;
}

.part-messages .spinner {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.text-button {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--primary);
  text-align: center;
  cursor: pointer;
}

.button-in-text {
  border: none;
  margin: 0 5px;
  font-size: inherit;
  background-color: transparent;
  color: var(--primary);
  text-align: center;
  cursor: pointer;
} */